*.cbp
*.layout
*.log
*.depend
*.DS_Store
.vscode
.idea/
*.iws
*.iml
*.ipr

include/ATA/config.h
include/ATA/config/compiler.h
include/ATA/config/platform.h
metaphor/
build*/
obj/
bin/
libs/
res/
CMakeFiles/